body{
    margin: 0;
    height: 800px;
}

header {
    background-color: rgb(94, 94, 94);
    height: 125px;
    margin: 0;
}

#collums {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#collums > div {
    background-color:rgb(214, 214, 214);
    width: 15%;
    height: 100%;
}

footer {
    background-color: rgb(34, 34, 34);
    height:75px;
    position: fixed;
    bottom: 0px;
    right: 15%;
    width: 70%;
}